<div>
    <div class="content">
        <div class="page-inner">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <form role="form" name="addForm" ng-submit="addPost()" novalidate="">
                            <div class="card-header">
                                <div class="card-title">Access</div>
                            </div>
                            <div class="card-body">
                                <div class="form">
                                    <div class="form-group form-show-notify row">
                                        <div class="col-lg-3 col-md-3 col-sm-4 text-right">
                                            <label for="addTxt">Access name<span style="color:red; font-weight:bolder;">*</span> :</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-8">
                                            <input type="text" name="addTxt" ng-model="addTxt" class="form-control" placeholder="" required />
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-8">
                                            <span class="help-block" style="color: red;" ng-show="addForm.addTxt.$invalid && addForm.addTxt.$dirty">
                                                Must fill the name*
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group form-show-notify row">
                                        <div class="col-lg-3 col-md-3 col-sm-4 text-right">
                                            <label>Category :</label>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-8">
                                            <select class="form-control" id="notify_state">
                                                <option disabled selected>Select</option>
                                                <option value="" ng-repeat="categories in category">{{categories.name}}</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form">
                                    <div class="form-group from-show-notify row">
                                        <div class="col-3">
                                            <button id="displayNotif" class="btn btn-primary" type="submit">Submit</button>
                                        </div>
                                        <div class="col-3">
                                            <button id="reset" class="btn" type="reset">Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Access Table</div>
                        </div>
                        <div class="card-body">
                            <table class="table table-head-bg-primary mt-4">
                                <thead>
                                    <tr>
                                        <th scope="col">Slno.</th>
                                        <th scope="col">Access</th>
                                        <th scope="col">Category</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="option in options">
                                        <td>{{option.id}}</td>
                                        <td>{{option.name}}</td>
                                        <td>{{option.cat}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>